{% extends 'base.html' %}

{% block content %}

  <nav class="navbar bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
      <a class="btn btn-outline-warning" href="http://127.0.0.1:8000/view_profile/{{user.username}}/">
          My profile
    </a>
      <ul class="nav justify-content-end">
          <li class="nav-item">
      <a class="btn btn-outline-warning" href="http://127.0.0.1:8000">
          Home
    </a>
          </li>
     <li class="nav-item">
    <form action="{% url 'app:logout' %}">
    <button type="submit" class="btn btn-outline-warning">Logout</button>
    </form>
          </li>
      </ul>
    </div>
</nav>

{% block head %}
{% endblock %}
{% endblock content %}

